:root {
  --headless-primary: #024270;
  --headless-on-primary: #ffffff;
  --headless-secondary: #541894;
  --headless-on-secondary: #ffffff;
  --headless-error: #bf2915;
  --headless-on-error: #ffffff;
  --headless-success: #207c20;
  --headless-on-success: #ffffff;
  --headless-warn: #ffa500;
  --headless-on-warn: #111111;

  --headless-white: #ffffff;
  --headless-black: #000000;
}
