@import "dist/@snowcodes/headless-components/assets/bootstrap";
@import "dist/@snowcodes/headless-components/assets/components";

:root {
  --headless-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--headless-font-family);
  font-size: var(--headless-font-size);
}

.custom-button-color {
  background-color: red;
  border-color: red;
}

pre {
  background-color: #333333;
  color: whitesmoke;
}
