:host {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.side-menu {
  flex: 1;

  ul {
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}

.container {
  flex: 2;
}
