:host {
  display: flex;
}

.side-menu {
  width: 100%;
  max-width: 480px;

  ul {
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}

.container {
  flex: 1 1 auto;
}
