<h1>Button</h1>

<h2>
  API reference for Headless Component Button
</h2>

<pre>
  <code class="language-html agate">
    {{ usageImport }}
  </code>
</pre>

<h3 class="section-title-large">
  Basic integration
</h3>

<pre>
  <code class="language-html agate">
    {{ usageHtml }}
  </code>
</pre>

<div class="title">Preview:</div>
<br>
<headless-button>Hello world</headless-button>

<h3 class="section-title-large">Attributes</h3>

<div class="section-title">
  <strong>type</strong>
  <ul>
    <li><code>button</code> (default)</li>
    <li><code>reset</code></li>
    <li><code>submit</code></li>
  </ul>
</div>

<pre>
  <code class="language-html agate">
    {{ usageHtmlType }}
  </code>
</pre>

<div class="section-title">
  <strong>disabled</strong>
</div>

<pre>
  <code class="language-html agate">
    {{ usageHtmlDisabled }}
  </code>
</pre>

<div class="title">Preview:</div>
<br>
<headless-button disabled>Disabled button</headless-button>

<div class="section-title">
  <strong>override</strong>
  <div>If you need to custom the component, you can use override property to add your own class on the component</div>
</div>

<pre>
  <code class="language-html agate">
    {{ usageHtmlCustom }}
  </code>
</pre>

<div class="title">Preview:</div>
<br>
<headless-button override="custom-button-color">With custom color</headless-button>

<div class="section-title">
  <strong>color</strong>
  <div>Choose the right colors with the palette</div>
</div>

<pre>
  <code class="language-html agate">
    {{ usageHtmlColor }}
  </code>
</pre>

<div class="example-box">
  <div class="section row">
    <headless-button color="primary">Primary</headless-button>
    <headless-button color="secondary">Secondary</headless-button>
    <headless-button color="success">Success</headless-button>
    <headless-button color="warn">Warn</headless-button>
    <headless-button color="error">Error</headless-button>
  </div>
</div>

<div class="section-title">
  <strong>outlined</strong>
  <div>Alternative button with oulined border</div>
</div>

<pre>
  <code class="language-html agate">
    {{ usageHtmlOutlined }}
  </code>
</pre>


<div class="example-box">
  <div class="section row">
    <headless-button appearance="outlined" color="primary">Primary</headless-button>
    <headless-button appearance="outlined" color="secondary">Secondary</headless-button>
    <headless-button appearance="outlined" color="success">Success</headless-button>
    <headless-button appearance="outlined" color="warn">Warn</headless-button>
    <headless-button appearance="outlined" color="error">Error</headless-button>
  </div>
</div>