<h1>Button</h1>

<div class="example-box">
  <div class="section">
    <div>Button type</div>
    <headless-button>Hello world</headless-button>
  </div>
  <div class="section">
    <div>Submit type</div>
    <headless-button type="submit">Hello world</headless-button>
  </div>
  <div class="section">
    <div>Reset type</div>
    <headless-button type="reset">Hello world</headless-button>
  </div>
</div>

<div class="example-box">
  <div class="section">
    <div>Disabled</div>
    <headless-button disabled>Hello world</headless-button>
  </div>
</div>

<div class="example-box">
  <div class="section">
    <div>With custom class</div>
    <headless-button override="my-custom-color">With custom color</headless-button>
  </div>
</div>

<div class="example-box">
  <div class="title">Basic buttons</div>
  <div class="section row">
    <headless-button color="primary">Primary</headless-button>
    <headless-button color="secondary">Secondary</headless-button>
    <headless-button color="success">Success</headless-button>
    <headless-button color="warn">Warn</headless-button>
    <headless-button color="error">Error</headless-button>
  </div>
</div>

<div class="example-box">
  <div class="title">Outlined buttons</div>
  <div class="section row">
    <headless-button appearance="outlined" color="primary">Primary</headless-button>
    <headless-button appearance="outlined" color="secondary">Secondary</headless-button>
    <headless-button appearance="outlined" color="success">Success</headless-button>
    <headless-button appearance="outlined" color="warn">Warn</headless-button>
    <headless-button appearance="outlined" color="error">Error</headless-button>
  </div>
</div>