.example-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-direction: column;

    &.row {
      flex-direction: row;
    }
  }
}

.section-title {
  padding-top: 24px;
  border-top: 1px solid #cccccc;
  margin-top: 24px;
}

.section-title-large {
  padding-top: 64px;
}
